root = true

# All Files
[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf

# Makefiles
[Makefile]
indent_style = tab
indent_size = 4
