# .gitignore

# Ignore node_modules
node_modules/

# Ignore TypeScript build output
dist/

# Ignore environment variables
.env

# Ignore IDE specific files
.idea/
.vscode/

# Ignore npm debug logs
npm-debug.log*

# Ignore yarn error logs
.yarn-error.log

# Ignore public assets
public/assets/