{
    "routes": [
        {
            "route": "/*",
            "allowedRoles": [ "authenticated" ]
        }
    ],
    "auth": {
        "identityProviders": {
            "azureActiveDirectory": {
                "userDetailsClaim": "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name",
                "registration": {
                    "openIdIssuer": "https://login.microsoftonline.com/common",
                    "clientIdSettingName": "YOUR_CLIENT_ID",
                    "clientSecretSettingName": "YOUR_SECRET"
                }
            }
        }
    },
    "globalHeaders": {
        "Cache-Control": "no-cache"
    }
}