@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

@layer base {
  :root { /* LIGHT MODE */
    --background: 235, 21%, 97.5%; /* WHITE BLUE MAIN BACKGROUND*/
    --foreground: 235, 21%, 18%; /*BLUE TEXT ON WHITE BACKGROUND*/

    --muted: 7, 86%, 77%; /* RED BOXES ON POP UPS*/
    --muted-foreground: 235, 21%, 37%; /* DARK BLUE TEXT in MENU & CHAT*/

    --popover:  235, 21%, 97.5%; /* WHITE BACKGROUND IN DROP DOWNS ON POP UPS*/
    --popover-foreground: 235, 21%, 21%; /* DARK BLUE TEXT ON DROP DOWN*/

    --card: 197, 81%, 52%;  /* LIGHT BLUE: CANT FIND CALL  */
    --card-foreground: 197, 81%, 52%; /* LIGHT BLUE: CANT FIND CALL  */

    --border: 0 0% 89.8%; /* GREY BORDERS*/
    --input: 0 0% 89.8%; /* GREY INPUT BOX BORDERS*/

    --primary: 7, 86%, 77%; /* RED BUTTON */
    --primary-foreground: 235, 21%, 21%; /* DARK BLUE TEXT ON RED BUTTON */

    --secondary: 235, 21%, 99%; /* VERY LIGHT BLUE CHAT RESPONSE BACKGROUND */
    --secondary-foreground: 235, 21%, 21%; /* DARK BLUE: CANT FIND CALL */

    --accent: 7, 86%, 90%; /* RED BUTTON */
    --accent-foreground: 235, 21%, 21%; /* DARK BLUE TEXT ON RED BUTTON */

    --destructive: 7, 86%, 77%; /* DELETE BUTTON */
    --destructive-foreground: 235, 21%, 21%; /* DELETE BUTTON TEXT */

    --ring:  235, 21%, 9.5%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 235, 21%, 10%; /* DARK BLUE MAIN BACKGROUND*/
    --foreground: 235, 21%, 97.5%; /*BLUE TEXT ON WHITE BACKGROUND*/

    --muted: 7, 86%, 70%; /* RED BOXES ON POP UPS*/
    --muted-foreground: 235, 21%, 97.5%; /* WHITE BLUE TEXT in MENU & CHAT*/

    --popover: 235, 21%, 10%; /* DARK BLUE BACKGROUND IN DROP DOWNS ON POP UPS*/
    --popover-foreground: 235, 21%, 97.5%; /* WHITE BLUE TEXT ON DROP DOWN*/

    --card: 197, 81%, 52%;  /* LIGHT BLUE TEST: CANT FIND CALL : CHECK LOGIN/SIGNUP */
    --card-foreground: 197, 81%, 52%; /* LIGHT BLUE TEST: CANT FIND CALL : CHECK LOGIN/SIGNUP */

    --border: 0 0% 14.9%; /* GREY BORDERS*/
    --input: 0 0% 14.9%;  /* GREY INPUT BOX BORDERS*/

    --primary: 7, 86%, 70%; /* RED BUTTON */
    --primary-foreground: 235, 21%, 10%; /* DARK BLUE TEXT ON RED BUTTON */

    --secondary: 235, 21%, 12%; /* LIGHTER DARK BLUE CHAT RESPONSE BACKGROUND */
    --secondary-foreground: 197, 81%, 52%; /* LIGHT BLUE: CANT FIND CALL */

    --accent: 235, 21%, 16%; /* RED BUTTON */
    --accent-foreground: 7, 86%, 70%; /* DARK BLUE TEXT ON RED BUTTON */

    --destructive: 7, 86%, 70%; /* DELETE BUTTON */
    --destructive-foreground: 235, 21%, 10%; /* DARK BLUE DELETE BUTTON TEXT */

    --ring: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
