@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-slider-thumb {
  color: black !important;
  background-color: black !important;
}

::-webkit-progress-value {
  color: black !important;
  background-color: black !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #0e3a90;

}
.mai-assistant {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
}

.app-card {
  color: black !important;
  background-color: rgba(255, 255, 255, 0) !important;
  /* background: linear-gradient(to bottom, #BFD865, #000); */
}
/* .set {

  background: linear-gradient(to bottom, #BFD865, #000);
} */


.orange-m {
  color: #F69241 !important;
  font-style: italic !important;
}
.mh-orange-text {
  color: #F69241 !important;
}

.view-account-usage-btn {
  background-color: #d38460 !important;
  color: white !important;
  padding: 8px 8px !important;
  border-radius: .375rem;
}
.logo-img {
  border-radius: .375rem;
}
.flex , .text-sidebar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.text-sidebar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}




@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}
.chat-textarea-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chat-textarea-display textarea{
  width: 90%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: #F69241;
  padding: 0.4rem;
  border-radius: 0 0.375rem 0.375rem 0;
  color: white;
}

.btn {
  float: right;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 9px;
  color: gray;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

